.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom__button {
  padding: 20px;
  color: #fff;
  width: 350px;
  border: none;
  font-size: 68px;
  font-family: var(--font-base);
}

.p__opensans {
  font-family: var(--font-base);
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 24px;
}
.header__bg {
  background-color: #ebf3fa;
  width: 100%;
  border-bottom-right-radius: 70%;
}
.section__width {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}
